@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* global.css */

/* Animación de máquina de escribir para "Julian Soto" */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  } /* Ajusta el ancho para cubrir "Julian Soto" */
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typewriter-name {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid black; /* El cursor parpadeante */
  white-space: nowrap;
  letter-spacing: normal;
  animation: typing 2s steps(12, end) infinite alternate,
    blink-caret 0.75s step-end infinite;
}

.profile-image:hover {
  transform: scale(
    1.05
  ); /* Aumenta ligeramente el tamaño al pasar el mouse /
transition: transform 0.3s ease-in-out; / Suaviza la transición */
}
.red-text {
  color: red;
}

.grey-text {
  color: grey;
}

/* global.css */
.social-icon:hover {
  color: #ffd700; /* Este es el código de color hexadecimal para amarillo */
}

@keyframes popMotion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.text-pop:hover {
  animation: popMotion 0.5s ease-in-out;
}

/* styles/globals.css */
@keyframes glow {
  from {
    box-shadow: 0 0 8px #39ff14;
  }
  to {
    box-shadow: 0 0 18px #39ff14;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: scale(1) translateZ(0);
  }
  50% {
    transform: scale(0.9) translateZ(0);
  }
}

.card-inner:hover {
  /* Aplicar múltiples animaciones al mismo tiempo */
  animation: glow 1s ease-in-out infinite alternate,
    wave 0.8s ease-in-out infinite alternate;
}

.card-inner {
  /* Asegúrate de tener una transición suave para las propiedades que no están animadas */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform, box-shadow;
  /* Resto de tus estilos ... */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: [height of your footer];
}
